* {
  box-sizing: border-box;
}

html,
body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

div#canvas {
  width: 100%;
  height: 88%;
  border: 1px solid lightgrey;
  background: #fff;
}
.canvas-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* align-items: center; */
}
.hover_line {
  cursor: pointer;
}
.btn-group {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
}

input#import {
  display: none;
}

input#importScript {
  display: none;
}

.svg_select_points_point {
  cursor: move;
}


input[type=range]::-webkit-slider-thumb {
  background: red;
}

input[type=range]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  border: none;
  background: red;
  cursor: pointer;
}


input[type=range]::-moz-range-track {
  height: 2px;
  background: grey;
  border-radius: 1.3px;
}

.btn-group {
  display: none;
}