* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

div#canvas {
  width: 100%;
  height: 90%;
  /* margin:px; */
  border: 1px solid lightgrey;
  background: #fff;
}
.canvas-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 95%; */
  /* align-items: center; */
}
.hover_line {
  cursor: pointer;
}
.btn-group {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  max-height: 100vh;
  width: fit-content;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

input#import {
  display: none;
}

input#importScript {
  display: none;
}

.svg_select_points_point {
  cursor: move;
}
