input
{
    width: 100%;
    height: 90%;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;        
}

table tbody, table thead
{
    display: block;
}


table tbody 
{
   overflow: auto;
   height: 60vh;
}

.selectBut {
  border: solid 1px rgb(118, 118, 118);
  width: 21px;
  height: 21px;
  box-sizing: border-box;
  text-align: center;
  cursor: default;
  border-radius: 3px;
  color: red;
}